body{
    align-items: center;
}
.header{
    display:flex;
    background: blue;
    justify-content: space-around;
    &_nav{
        &_list{
            display: flex;
            column-gap: 10px;
            text-decoration: none;
        }
        &_item{
            &_link{
                text-decoration: none;
            }
        }
    }
}